.container {
    width: 80%; /* Adjust the percentage as needed */
    max-width: 1200px; /* Optional: set a max width */
    margin: 0 auto; /* Center the container */
    border: 1px solid #d3d3d3;
}


.container div {
    width:100%;
}
.container .header {
    background-color: #f0f0f0; /* Lighter color */
    padding: 10px; /* Increase padding for better readability */
    font-size: 1.2em; /* Increase font size */
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: block; /* Show content by default */
    padding: 10px; /* Adjust padding if needed */
    background-color: #fafafa; /* Optional background color */
}
